@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:ital,wght@1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@font-face {
  font-family: 'YESMyoungjo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESMyoungjo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'D2Coding';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* div{
  border: 1px solid;
} */

body{
  font: 13px 'Arial';
  letter-spacing: 0.5px;
}

.mac body{
  font-family: 'Arial';
  font-size: 12px;
  letter-spacing: 0.5px;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
}

.container1{
  display: grid;
  /* grid-template-columns: 1fr 820px 1fr; */
  grid-template-columns: 1fr 1000px 1fr;

  grid-template-rows: 1fr 1fr;
}

.mac .container1{
  display: grid;
  /* grid-template-columns: 1fr 800px 1fr; */
  grid-template-columns: 1fr 980px 1fr;
  grid-template-rows: 1fr 1fr;
}

.bottom{
  grid-column-start: 1;
  grid-column-end: 4;
}

.container2{
  display: grid;
  grid-template-columns: 175px 570px 175px;
  /* grid-template-columns: 175px 550px 175px; */
  grid-template-rows: 150px 25px 30px 1fr;
}

.mac .container2{
  display: grid;
  grid-template-columns: 175px 550px 175px;
  /* grid-template-columns: 175px 530px 175px; */
  grid-template-rows: 130px 25px 30px 1fr;
}

.head_blogName{
  grid-column-start: 1;
  grid-column-end: 4;
}

.section_head_date{
  padding: 10px 21px;
  /* padding: 10px 11px; */

}

.mac .section_head_date{
  padding: 10px 41px;
}

.section_head_subject{
  padding: 0px 20px;
  /* padding: 0px 10px; */

}

.mac .section_head_subject{
  padding: 0px 40px;
}

.section_body{
  padding: 10px 20px;
  /* font: 13px 'YESMyoungjo-Regular'; */
  font: 13px 'D2coding';
  letter-spacing: -0.03rem;
  word-spacing: -1px;
  line-height: 150%;
}

.mac .section_body{
  padding: 10px 40px;
  font: 12px 'menlo', 'Arial';
  letter-spacing: 0;
  word-spacing: -3px;
  line-height: 150%;
}

.section_sidebar{
  padding-top: 23px;
  padding-left: 50px;
  font-size: 12px;
  line-height: 135%;
}

.mac .section_sidebar{
  padding-top: 23px;
  padding-left: 30px;
  font-size: 11px;
  line-height: 135%
}

.h_blogName{
  font: 40px 'Archivo Black', sans-serif;
  margin-top: 30px;
  margin-left: 70px;
  /* margin-top: 60px;
  margin-left: 140px; */
  display: inline-block;
}

.mac .h_blogName{
  font: 40px 'Archivo Black', sans-serif;
  margin-top: 30px;
  margin-left: 70px;
  /* margin-top: 60px;
  margin-left: 160px; */
  display: inline-block;
}

.h_blogName:hover{
  text-decoration: none;
}

.s_h_date{
  display: inline;
  background-color: rgb(187, 187, 187);
  color: white;
  font: 12px 'D2Coding';
  letter-spacing: 1px;
  padding: 4px 5px 2.5px 5px;
}

.mac .s_h_date{
  display: inline;
  background-color: rgb(187, 187, 187);
  color: white;
  font: 11px 'D2Coding';
  letter-spacing: 1px;
  padding: 3.5px 4.5px 2px 4.5px;
}

.s_h_subject{
  font: bold 20px Arial;
}

.mac .s_h_subject{
  display: inline-block;
  font: bold 19px Arial;
}

.s_s_byCategory_subject{
  font: bold 12px Arial;
}

.s_s_byDate_subject{
  font: bold 12px Arial;
}

img {
  margin: auto;
  display: block;
}

.pre_codeBlock{
  background-color: whitesmoke;
  margin: 20px 10px 20px 10px;
  white-space: pre-wrap;
  padding: 0px 30px 0px 30px;
  border: 1px solid;
  letter-spacing: 0;
  word-spacing: 0;
  word-break: break-all;
}

.mac .pre_codeBlock{
  background-color: whitesmoke;
  margin: 20px 10px 20px 10px;
  white-space: pre-wrap;
  padding: 0px 30px 0px 30px;
  border: 0.1px solid;
  letter-spacing: 0;
  word-spacing: 0;
  word-break: break-all;
}

.code_codeBlock{
  font-family: 'Source Code Pro', monospace;
  /* font-family: 'Courier New', 'Courier', 'menlo'; */
  letter-spacing: -1px;
  line-height: 100%;
}

.pre_text{
  font: 13px 'D2coding';
  letter-spacing: -0.03rem;
  word-spacing: -1px;
  line-height: 150%;
  white-space: pre-wrap;
  word-break: break-all;
}

.사전{
  white-space: pre-wrap;
}




/* .h_blogName button{
cursor: pointer;
font-family: 'gulim', 'arial';
font-weight: bold;
border: 1px solid;
}

.mac .h_blogName button{
  cursor: pointer;
  font-family: 'D2Coding', 'menlo', 'arial';
  font-weight: bold;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
} */

/* .mac .ContentSpace{
  font-family: "Arial";
  font-size: 12.5px;

}

.Pagination button{
  font-size: 10px;
  margin: 1px;
}

input{
  font-size: 10px;
  font-weight: bold;
  margin: -3px;
}

.active{
  font-weight: bold;
} */