.HTMLRenderer {
  // background-color: black;
  text-align: left;
  padding: 12px 15px 12px 15px;
  line-height: 1.42;
  color: white;

  code {
    background-color: whitesmoke;
    font-size: 12px;
    border-radius: 3px;
    padding: 1px 3px 1px 3px;
  }
}
