.page-header {
  width: 900px;

  padding: 10px 0;

  margin: 10px auto 0 auto;

  display: grid;
  grid-template-columns: auto 1fr auto;

  border-bottom: 1px solid;

  .page-header-name {
    font-size: 12px;
    font-weight: bold;
  }

  .page-header-nav {
    display: flex;
    align-items: center;

    button {
      font: inherit;

      margin-right: 10px;
    }
    ul {
      li {
        display: inline-block;
      }
    }
  }
}
