.otherPosts {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__postInfo {
    display: flex;

    &--prevPost {
      border-bottom: 1px solid;

      padding-bottom: 3px;
    }

    &--nextPost {
      padding-top: 3px;
    }
  }

  &__label {
    font-size: 95%;
    font-weight: bold;

    margin-right: 5px;
  }

  &__postTitle {
    font-size: 95%;
    font-weight: bold;

    &:hover {
      color: gray;
      text-decoration: underline;
    }
  }
}
