.posts {
  width: 900px;

  text-align: center;

  padding: 10px;
  margin: 10px auto 0 auto;

  border: 1px solid;

  .bar {
    display: flex;
    justify-content: end;

    .editButton {
      margin-bottom: 10px;
    }
  }

  .subject {
    font-weight: bold;

    padding: 10px;

    border: 1px solid;
  }

  .content {
    padding: 10px;

    margin-top: 10px;

    border: 1px solid;

    .textarea {
      width: 100%;

      border: none;
      resize: none;
    }
  }
}

// 에디터 전체
.wrapper-class {
  border: 1px solid;
}

// 에디터 내용
.editor-class {
  padding: 0 10px 0 10px;
}

// 에디터 툴바
.toolbar-class {
}

.ql-align-center {
  text-align: center;
}

// .ql-snow .ql-picker-label {
//   cursor: pointer;
//   display: flex !important;
//   justify-content: center;
//   align-items: center;
//   margin: auto 0 !important;
//   height: 100%;
//   padding-left: 5px !important;
//   padding-right: 5px !important;
//   position: relative;
//   width: 100%;
// }
// .ql-snow .ql-picker-label::before {
//   display: inline-block;
//   line-height: 22px;
// }

// .ql-snow .ql-picker-label svg {
//   // display: none;
// }
