.home-contentList_container {
  width: 900px;

  display: grid;
  grid-template-columns: repeat(auto-fill, calc(870px / 4));
  grid-gap: 10px;
  justify-content: center;

  margin: 10px auto 0 auto;

  .contentList {
    padding: 5px;

    border: 1px solid;

    cursor: pointer;

    .subject {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;

      height: calc(1.2em * 3);

      font-weight: bold;
      word-break: break-all;

      overflow: hidden;
      text-overflow: ellipsis;
    }

    .date {
      display: block;

      font-size: 70%;
      text-align: right;

      margin-top: 10px;
    }
  }
}

.ddd {
  background-color: black;
  color: white;
}
