.searcher {
  .label1 {
    .label1-label {
      margin-right: 5px;
    }
  }

  .inputText1 {
    .inputText1-input {
      margin-right: 5px;
    }
  }

  .inputButton1 {
    .inputButton1-input {
      margin-right: 10px;
    }
  }
}
