.categoryEditor {
  width: 300px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  &__title {
  }

  &__settingButtons {
    .settingButtons {
      display: flex;
      gap: 3px;

      &__button {
        flex-grow: 1;
      }
    }
  }

  &__categoryList {
    .categoryList {
      width: 300px;

      display: flex;
      flex-direction: column;
      gap: 5px;

      &__item {
        border: 1px solid;

        padding: 3px;

        &--selected {
          background-color: whitesmoke;

          font-weight: bold;
          text-decoration: underline;

          border: 2px solid;
        }
      }

      &__renamingBox {
        display: flex;
        gap: 3px;
      }

      &__renamingTextInput {
        flex-grow: 1;
      }
    }
  }

  &__newCategoryCreator {
    .newCategoryCreator {
      display: flex;
      gap: 3px;

      &__newCategoryNameTextInput {
        flex-grow: 1;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 5px;
  }
}
