.postViewer {
  display: flex;
  flex-direction: column;
  gap: 5px;

  margin-top: 5px;

  &__toolbar {
    display: flex;
    justify-content: end;
    align-items: center;

    padding-right: 1px;
  }

  .toolbar {
    display: flex;
    justify-content: center;
    align-items: center;

    &__buttonsWrapper {
      display: flex;
      gap: 5px;
    }
  }

  &__postTitle {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid;

    padding: 5px 15px;
  }

  .postTitle {
    &__title {
      font-weight: bold;
    }
  }

  &__categoryInfo {
    display: flex;
    justify-content: end;
    align-items: center;

    padding-right: 1px;
  }

  .categoryInfo {
    &__labelAndCategoryNameWrapper {
      display: flex;
      gap: 5px;
    }

    &__label {
      display: flex;
    }

    &__categoryName {
      display: flex;
    }
  }

  &__viewer {
    .ql-container {
      padding: 5px 10px;
      border: 1px solid black !important;

      .ql-editor {
        img {
          display: block;
          margin: 0 auto;
        }

        .ql-syntax {
          width: 90%;

          margin: 0 auto;
        }
      }
    }
  }
}
