.nav {
  display: flex;
  align-items: center;

  .button1List {
    .button1List-button {
      margin-right: 5px;
    }
  }

  .linkList {
    .linkList-ul {
      .linkList-li {
        display: inline-block;

        margin-right: 5px;
      }
    }
  }
}
