.nav {
  display: flex;
  align-items: center;

  .nav-buttons-wrapper {
    .button1 {
      margin-right: 5px;
    }
  }

  .nav-links-wrapper {
    ul {
      li {
        display: inline-block;

        margin-right: 5px;
      }
    }
  }
}
