.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  &__buttonList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  &__linkList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}
