.wrapper-postEditor {
  .title {
    input {
      width: 100%;
    }
  }

  img {
    position: relative;
    transform: translate(-50%);
    left: 50%;
  }

  img::selection {
    // background-color: transparent;
  }

  .imageResizePrompt {
    position: absolute;
    // transform: translate(-50%);
    // left: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;

    padding: 3px;
    border: 1px solid;

    input {
      margin-left: 3px;
    }
  }

  // .imageResizePrompt::before {
  //   content: "변경할 너비(px):";
  // }

  .hidden {
    display: none;
  }

  .resizeBox2 {
    position: absolute;
  }
}
