.wrapper-postEditor {
  .title {
    display: flex;
    justify-content: center;

    padding: 5px;

    border: 1px solid;

    input {
      width: 100%;

      font: inherit;
      // form 관련된 요소는 폰트 상속이 안 된다고 한다!
      font-weight: bold;
    }
  }

  .ql-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    border: 1px solid black;
    margin: 0;
    margin-top: 5px;

    .ql-formats {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 0;

      * {
        padding: 2px;
        margin: 0;
      }
    } 
  }

  .ql-container {
    padding: 5px 10px;
    border: 1px solid;

    .ql-editor {
      .ql-syntax {
        width: 90%;

        margin: 0 auto;

        span {
          font: inherit;
        }
      }

      img {
        display: block;
        margin: 0 auto;

        cursor: pointer;
      }
    }
  }
}
