.post {
  width: 600px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  margin: 0 auto;

  // border: 1px solid;

  .otherPosts {
    // border: 1px solid grey;
    // padding: 5px;

    p {
      width: 100%;
      // border: 1px solid;
      padding: 5px;
    }
  }
}

// // 에디터 전체
// .wrapper-class {
//   border: 1px solid black;
// }

// // 에디터 내용
// .editor-class {
//   padding: 0 10px 0 10px;
// }

// // 에디터 툴바
// .toolbar-class {
// }

// .ql-align-center {
//   text-align: center;
// }
