.header {
  width: 900px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid;

  padding: 10px 0;
  margin: 10px auto 0 auto;

  .flexEmpty {
    flex-grow: 1;
  }

  .blogName__name {
    font-size: 12px;
    font-weight: bold;
  }
}
