.god {
  .message {
    font-weight: bold;

    margin: 10px 0 10px 0;
  }

  .god-blogName {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .label1 {
      margin-right: 5px;
    }

    .inputText1 {
      margin-right: 5px;
    }
  }

  .god-category {
    display: flex;
    flex-direction: column;
    gap: 5px;

    margin-top: 10px;

    .god-categorySettingButtons {
      display: flex;
      gap: 3px;
    }

    .god-category-categoryList {
      width: 200px;

      display: flex;
      flex-direction: column;
      gap: 3px;

      .god-category-categoryList-item {
        // background-color: whitesmoke;

        border: 1px solid;

        padding: 3px;
      }

      .selected {
        background-color: whitesmoke;

        font-weight: bold;
        text-decoration: underline;

        border: 2px solid;
      }

      & .god-category-categoryList-item {
        margin-right: 5px;
      }
    }

    .button1 {
    }
  }
}
