.blogNameEditor {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__renamingBox {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .renamingBox {
      &__buttons {
        display: flex;
        gap: 5px;
      }
    }
  }
}
