// 영어, 숫자 폰트
@font-face {
  font-family: "My IBM Plex Mono";
  font-weight: normal;
  src: url("../public/fonts/IBMPlexMono-Regular.woff") format("woff");
  font-display: swap;
  unicode-range: U+0030-0039, U+0041-005A, U+0061-007A; // 숫자, 영대문자, 영소문자
}

@font-face {
  font-family: "My IBM Plex Mono";
  font-weight: bold;
  src: url("../public/fonts/IBMPlexMono-Bold.woff") format("woff");
  font-display: swap;
  unicode-range: U+0030-0039, U+0041-005A, U+0061-007A; // 숫자, 영대문자, 영소문자
}

// 띄어쓰기(유니코드: U+0020) 폰트
@font-face {
  font-family: "My UnDinaru";
  src: url("../public/fonts/UnDinaru.woff") format("woff");
  font-display: swap;
  unicode-range: U+0020;
}
// - 띄어 쓰기 문자는 굵기 지정이 없다.

// - 굴림 폰트가 없는 시스템(맥)에서는 monospace 폰트를 쓰고 싶었음.
//  - 다른 폰트는 다 안티 엘리어싱인가..? 아무튼 매끄럽게 표시돼서.
//  - 나는 그게 싫음.
// - 근데 monospace는 띄어 쓰기에 사용되는 공백이 너무 넓게 표시됨.
//  - 당연함. 고정폭이니까.
// - 그래서 띄어 쓰기(공백)에만 적용되는 폰트를 지정해줌.
// - 근데 nomal이랑 bold를 나눠줘야 하는지는.. 의문임.

// 문제) 다른 폰트(noto sans kr, apple sd gothic 등)은 이게 안 됨.
// - 이유를 모르겠음. 일단 되는 걸로 지정해주고 넘어감.

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "My IBM Plex Mono", Gulim, "굴림", "My Undinaru", monospace;
  font-size: 13px;
  // 글자 크기를 어떻게 해야 할지.. 모르겠다.
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.2;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.label {
  display: flex;
  align-items: center;

  font: inherit;
}

.textInput {
  font: inherit;

  vertical-align: middle;
}

.textarea {
  font: inherit;
}

.select {
  font: inherit;

  border: none;
}

.button {
  font: inherit;

  vertical-align: middle;
}

.link {
  text-decoration: none;
  color: inherit;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 900px;
  margin: 0 auto;

  height: 100vh;

  .empty {
    flex-grow: 1;
  }

  outline: none;
}
