// @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap");

// @import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
// @import url("https://cdn.jsdelivr.net/gh/wooin21/web/fonts/UnFont/UnDinaru.woff");

@font-face {
  font-family: "My IBM Plex Mono";
  font-weight: normal;
  src: url("./font/IBMPlexMono-Regular.woff") format("woff");
  unicode-range: U+0030-0039, U+0041-005A, U+0061-007A; // 숫자, 영대문자, 영소문자
}

@font-face {
  font-family: "My IBM Plex Mono";
  font-weight: bold;
  src: url("./font/IBMPlexMono-Bold.woff") format("woff");
  unicode-range: U+0030-0039, U+0041-005A, U+0061-007A; // 숫자, 영대문자, 영소문자
}

// @font-face {
//   font-family: "MyGulim";
//   src: local("Gulim"), local("굴림");
//   unicode-range: U+AC00-D7A3; // 한글
// }

// @font-face {
//   font-family: "MyUnDinaru";
//   src: url("./font/UnDinaru.woff") format("woff"),
//     url("https://cdn.jsdelivr.net/gh/wooin21/web/fonts/UnFont/UnDinaru.woff");
// }

// @font-face {
//   font-family: "MyGulim";
//   // font-weight: bold;
//   src: local("Gulim"), local("굴림"),
//     url("./font/IBMPlexSansKR-Bold.woff") format("woff");
//   // unicode-range: U+AC00-D7A3; // 한글
// }

// @font-face {
//   font-family: "MyGulim";
//   font-weight: bold;
//   src: local("Gulim"), local("굴림"), url("./font/IBMPlexSansKR-Regular.woff");
//   // unicode-range: U+AC00-D7A3; // 한글
// }
// - 로컬의 '굴림' 글씨체에는 bold가 이미 포함되어 있으므로 bold를 적용했을 때 사용될 글씨체(파일)을 따로 지정해줄 필요가 없다.
// - 아님! 굴림이 없어서 ISK이 사용될 경우를 대비해서 만들어주긴 해야 함.

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "My IBM Plex Mono", Gulim, 굴림, monospace;
  font-size: 13px;
  // 글자 크기를 어떻게 해야 할지.. 모르겠다.
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.2;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.label {
  display: flex;
  align-items: center;

  font: inherit;
}

.textInput {
  font: inherit;

  vertical-align: middle;
}

.textarea {
  font: inherit;
}

.select {
  font: inherit;

  border: none;
}

.button {
  font: inherit;

  vertical-align: middle;
}

.link {
  text-decoration: none;
  color: inherit;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 900px;
  margin: 0 auto;

  height: 100vh;

  .empty {
    flex-grow: 1;
  }

  outline: none;
}
