.test {
  .buttons {
    margin-bottom: 5px;
  }

  .list {
    width: 200px;

    display: flex;
    flex-direction: column;
    gap: 3px;

    .item {
      border: 1px solid;

      padding: 3px;
    }

    .selected {
      font-weight: bold;
      text-decoration: underline;

      background-color: whitesmoke;

      border: 2px solid;
    }
  }
}
